.signUp-css {

    margin-top: 7%;
}

.signIn-css {
    margin-top: 15%;
    margin-left: 10%;
}

.body-css{
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    color: whitesmoke;
    background-color: hotpink;
    border-radius: 10px;
}